<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/img/favicon.png">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<title>{{ block title }}</title>
</head>

<body id="#page-top">
	<nav class="navbar navbar-dark bg-dark" id="mainNav">
		<div class="container d-flex justify-content-between">
			<a class="navbar-brand js-scroll-trigger" href="/">Twict</a>
			<div>
				{% if isset($this.debug.session.user) %}
				<span class="navbar-text text-light me-3">
					Hello, {{ $this.debug.session.user.firstname }}
					{% if isset($this.debug.session.auth_method) %}
					({{ $this.debug.session.auth_method }})
					{% endif %}
				</span>
				<a href="/authform/logout" class="btn btn-outline-light btn-sm">Logout</a>
				{% else %}
				<a href="/auth/index" class="btn btn-outline-light btn-sm">Login</a>
				{% endif %}
			</div>
		</div>
	</nav>

	{% include "layout/notifications" %}

	{{ block content }}

	{% include "layout/debug" %}
</body>

</html>